
<div id="blog" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">

<div class="carousel-item active" style="width:100%" onclick="window.location.replace('/blog/Deploying-An-App:-5-Things-I-Learned')">
<div class="slide-item">
<h4 class="slide-header"><a href="/blog/Deploying-An-App:-5-Things-I-Learned">Deploying An App: 5 Things I Learned</a></h4>
<p class="slide-desc">python, devjournal, devops</p>
</div>
</div>

<div class="carousel-item" style="width:100%" onclick="window.location.replace('/blog/In-Memory-Databases:-A-Practical-Demo')">
<div class="slide-item">
<h4 class="slide-header"><a href="/blog/In-Memory-Databases:-A-Practical-Demo">In-Memory Databases: A Practical Demo</a></h4>
<p class="slide-desc">redis, databases, python, programming</p>
</div>
</div>

</div>
<button class="carousel-control-prev" type="button" data-bs-target="#blog" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#blog" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>