<div class="grid-parent">
<div class="item">
<h4 class="item-header"><a href="/blog/Deploying-An-App:-5-Things-I-Learned">Deploying An App: 5 Things I Learned</a></h4>
<p class="item-desc">python, devjournal, devops</p>
</div>

<div class="item">
<h4 class="item-header"><a href="/blog/In-Memory-Databases:-A-Practical-Demo">In-Memory Databases: A Practical Demo</a></h4>
<p class="item-desc">redis, databases, python, programming</p>
</div>

<div class="item">
<h4 class="item-header"><a href="/blog/My-Second-Post">My Second Post</a></h4>
<p class="item-desc">Wow, very cool!</p>
</div>
</div>