<div id="filterParent"><button class="filterBtn" onclick="showOnly('item')">#all</button><button class="filterBtn" onclick="showOnly('DevOps')">#DevOps</button><button class="filterBtn" onclick="showOnly('Optimization')">#Optimization</button></div><div class="grid-parent">
<div class="item DevOps" onclick="window.open('/blog/Deploying-An-App:-5-Things-I-Learned')">
<h4 class="item-header"><a href="/blog/Deploying-An-App:-5-Things-I-Learned">Deploying An App: 5 Things I Learned</a></h4>
<p class="item-desc">python, devjournal, devops</p>
</div>
</a>

<div class="item Optimization" onclick="window.open('/blog/In-Memory-Databases:-A-Practical-Demo')">
<h4 class="item-header"><a href="/blog/In-Memory-Databases:-A-Practical-Demo">In-Memory Databases: A Practical Demo</a></h4>
<p class="item-desc">redis, databases, python, programming</p>
</div>
</a>
</div>