<div id="filterParent"><button class="filterBtn" onclick="showOnly('item')">#all</button><button class="filterBtn" onclick="showOnly('Coding-Interview')">#Coding-Interview</button><button class="filterBtn" onclick="showOnly('InThirtySeconds')">#InThirtySeconds</button><button class="filterBtn" onclick="showOnly('DevOps')">#DevOps</button><button class="filterBtn" onclick="showOnly('Python')">#Python</button><button class="filterBtn" onclick="showOnly('Devjournal')">#Devjournal</button><button class="filterBtn" onclick="showOnly('Databases')">#Databases</button><button class="filterBtn" onclick="showOnly('Redis')">#Redis</button></div><div class="grid-parent">
<div class="item Coding-Interview InThirtySeconds" onclick="window.open('/blog/A-Simple-Pascal's-Triangle-Solution', '_self')">
<h4 class="item-header"><a href="/blog/A-Simple-Pascal's-Triangle-Solution" style="background-color: rgba(0, 0, 0, .5); padding: 5px; line-height: 41px; border-radius: 10px">A Simple Pascal's Triangle Solution</a></h4>
<p class="item-desc">inthirtyseconds, coding-interview</p>
</div>
</a>

<div class="item DevOps Python Devjournal" onclick="window.open('/blog/Deploying-An-App:-5-Things-I-Learned', '_self')">
<h4 class="item-header"><a href="/blog/Deploying-An-App:-5-Things-I-Learned" style="background-color: rgba(0, 0, 0, .5); padding: 5px; line-height: 41px; border-radius: 10px">Deploying An App: 5 Things I Learned</a></h4>
<p class="item-desc">python, devjournal, devops</p>
</div>
</a>

<div class="item Databases Redis Python" onclick="window.open('/blog/In-Memory-Databases:-A-Demo', '_self')">
<h4 class="item-header"><a href="/blog/In-Memory-Databases:-A-Demo" style="background-color: rgba(0, 0, 0, .5); padding: 5px; line-height: 41px; border-radius: 10px">In-Memory Databases: A Demo</a></h4>
<p class="item-desc">redis, databases, python</p>
</div>
</a>
</div>