<details>
    <summary>View full app preview</summary>
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeAuthPhone.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeAuthTablet.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipePhone.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeTablet.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeSwipe.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeCreate.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeLang.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeShare.png" alt="">
    <img src="https://raw.githubusercontent.com/http-samc/CodeSwipe/main/images/CodeSwipeFilter.png" alt="">
</details>