<div id="projects">
<div style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;">
<h4 style="margin-left:10px;margin-top:10px;"><a href="/blog/My-First-Post">My First Post</a></h4>
<p style="margin-left:10px">Wow, very cool!</p>
</div>

<div style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;">
<h4 style="margin-left:10px;margin-top:10px;"><a href="/blog/My-Second-Post">My Second Post</a></h4>
<p style="margin-left:10px">Wow, very cool!</p>
</div>

<div style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;">
<h4 style="margin-left:10px;margin-top:10px;"><a href="/blog/My-Third-Post">My Third Post</a></h4>
<p style="margin-left:10px">Wow, very cool!</p>
</div>
</div>