
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/2048.py">2048.py</a></h4>
    <p style="margin-left:10px">A beautifully typed, Pure-Python 2048 Engine.</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/CasEel">CasEel</a></h4>
    <p style="margin-left:10px">A simple Chrome Extension for autosaving UIUC Netmath notebooks.</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/Cut-It">Cut-It</a></h4>
    <p style="margin-left:10px">The card-cutting tool of the future!</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/GenDoc">GenDoc</a></h4>
    <p style="margin-left:10px">A popular & versatile Python documentation generator.</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/Madlibz">Madlibz</a></h4>
    <p style="margin-left:10px">A fun and simple Madlibs app, coded natively for Android!</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/Portfolio">Portfolio</a></h4>
    <p style="margin-left:10px">The site you're on (there's more to it than you think)!</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/PyPI-Download-API">PyPI Download API</a></h4>
    <p style="margin-left:10px">The easiest api (with badge support) for cumulative PyPI downloads!</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/QuickCite">QuickCite</a></h4>
    <p style="margin-left:10px">A lightweight Python package for autogenerating MLA citations.</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/Tabroom-API">Tabroom-API</a></h4>
    <p style="margin-left:10px">A revolutionary API for scraping tabroom.com!</p>
</div>
        
<div class="project" style="background:#1e1e1e;border-radius:10px;padding:7px;width:100%;margin:0px auto 15px;min-width:300px">
    <h4 style="margin-left:10px;margin-top:10px;"><a href="/projects/tournaments.tech">Tournaments.Tech</a></h4>
    <p style="margin-left:10px">The most popular (and accurate) debate ranking site!</p>
</div>
        