.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
    width: 100%
}

.footer-dark p:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all ease 500ms;
}

.footer-dark .item.text {
    margin-bottom: 36px
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px
    }

    .footer-dark .item.text {
        margin-bottom: 0
    }
}

.footer-dark .item.text p {
    opacity: .6;
    margin-bottom: 0
}

.footer-dark .item.social {
    text-align: center
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .4);
    margin: 0 8px;
    color: #fff;
    opacity: .75
}

.footer-dark .item.social>a:hover {
    opacity: .9
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: .3;
    font-size: 13px;
    margin-bottom: 0
}

.navigation-clean {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0
}

@media (min-width:768px) {
    .navigation-clean {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

.navigation-clean .navbar-brand {
    font-weight: 700;
    color: inherit
}

.navigation-clean .navbar-brand:hover {
    color: #222
}

.navigation-clean .navbar-toggler {
    border-color: #ddd;
    color: #888
}

.navigation-clean .navbar-toggler:focus,
.navigation-clean .navbar-toggler:hover {
    background: 0 0
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active,
.navigation-clean.navbar-light .navbar-nav .nav-link.active:focus,
.navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: 0 0;
    pointer-events: none
}

.navigation-clean.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
    color: #465765
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d !important;
    background-color: transparent
}

.navigation-clean .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 2px
}

.navigation-clean .dropdown-menu .dropdown-item,
.navigation-clean .dropdown-menu .dropdown-item:focus {
    line-height: 2;
    color: #37434d
}

.navigation-clean .dropdown-menu .dropdown-item:focus,
.navigation-clean .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit
}

.nav-link:hover {
    color: var(--bs-teal)
}

.grid-parent {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 185px;
}

.item {
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    margin: 0px auto 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.item:hover {
    /* transform: scale(1.1); */
    transform: rotate(3deg);
    transition: all ease 200ms;
}

.item-header {
    margin-left: 10px;
    margin-top: 10px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-desc {
    margin-left: 10px;
    text-overflow: ellipsis;
}

.slide-item {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 7px;
    width: 70%;
    height: 10vh;
    min-height: 150px;
    margin: auto;
}

.slide-header {
    margin-left: 10px;
    margin-top: 10px;
    word-wrap: break-word;
    white-space: normal;
}

.slide-desc {
    margin-left: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}