#dynamic {
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 25px;
    margin-bottom: 5px;
}

h1 {
    color: var(--bs-cyan);
    text-align: center;
}

h2 {
    color: var(--bs-blue);
}

h3 {
    color: orange;
}

h4 {
    color: var(--bs-green);
}

h5 {
    color: var(--bs-red);
}

h6 {
    color: var(--bs-purple);
}

a {
    text-decoration-style: wavy;
    font-weight: 600;
}

.filterBtn {
    border: none;
    background: none;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-weight: 600;
    align-self: center;
    color: var(--bs-light);
}

.filterParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

summary {
    color: var(--bs-green)
}

img:not(.ovr) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 300px;
    height: auto;
    border: 2px solid var(--bs-blue);
}

code {
    color: var(--bs-danger);
    font-weight: bold;
    border-radius: 3;
    letter-spacing: .1ch;
}

blockquote {
    font-size: 1.4em;
    margin: 50px auto;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid var(--bs-blue);
    line-height: 1.6;
    position: relative;
    background: #1e1e1e;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: var(--bs-blue);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: '';
}

blockquote cite {
    display: block;
    color: var(--bs-blue);
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
    font-style: italic;
}

table {
    border-collapse: collapse;
    margin: 20px auto 10px auto;
    font-size: 0.9em;
    border-radius: 10px;
}

table thead tr {
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
    background-color: #1e1e1e;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}